.header {
  background-color: transparent;
  padding: 2rem;
  border-bottom: 2px solid #00ffc3;
}

.header h1 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.header p {
  font-size: 1.2rem;
  color:#ccc;
}
